{% extends 'base.html.twig' %}

{% block title %}Kaïrun • Accueil
{% endblock %}

{% block body %}
	<main id="home">
		<section>
			<div class="titre">
				{% if app.user %}
					<h1>
						Bienvenue
						{{ app.user.pseudo }}
					</h1>
					<h2>Quels est ton objectif ?</h2>
					<div class="home-btn">
						<ul>
							<li><a class="btn-home"href="{{path('perte_de_poids')}}">Perte De Poids</a></li>
							<li><a class="btn-home"href="{{path('prise_de_masse')}}">Prise De Masse</a></li>
						</ul>
					</div>
				{% else %}
					<h1>Bienvenue sur Kaïrun</h1>
					<h2>Un espace pour échanger des recettes entre passionnés de sport et de nutrition</h2>
					<p>Que souhaite tu faire?</p>
					<div class="home-btn">
						<ul>
							<li><a class="btn-home"href="{{path('app_login')}}">Connection</a></li>
							<li><a class="btn-home"href="{{path('create_user')}}">Inscription</a></li>
						</ul>
					</div>
				{% endif %}
			</div>
			<div class="ajout"></div>
		</section>
	{% endblock %}
