<footer class="container" id="footer">
	<div class="footer">
		<div class="logo-footer-container">
			<a href="{{ path('home') }}"><img src="{{ asset('images/logo.png') }}" alt="{{ site.name }}"></a>
		</div>
		<div class="footer-content">
			<div class="footer-list">
				<ul>
					<li><a class=""href="{{ path('mentions_legales') }}">Mentions Légales</a></li>
					<li><a class=""href="{{path('confidentialite')}}">Politique de Confidentialité</a></li>
					<li><a class=""href="{{path('cgu')}}">Conditions Générales d'Utilisation</a></li>
					<li><a class=""href="{{path('home')}}">Contact</a></li>
					<li><a>Copyright &copy{{ site.name }}- 2025</a></li>
				</ul>

			</div>
		</div>

	</div>
</footer>
