<header class="container" id="header">
	<div class="header">
		<div class="logo-container">
			<a href="{{ path('home', {'_locale': app.request.locale}) }}"><img src="{{ asset('images/logo.png') }}" alt="{{ site.name }}"></a>
		</div>
		<nav class="navbar_menu">
			<div class="navbar_list_container">
				<ul class="navbar_list">
					<li>
						<a href="{{ path('home') }}">Accueil</a>
					</li>
					<li>
						<a href="{{path('perte_de_poids')}}">Perte De Poids</a>
					</li>
					<li>
						<a href="{{path('prise_de_masse')}}">Prise De Masse</a>
					</li>
				</ul>
				<div class="burger">
					<i class="fa-solid fa-bars"></i>
					<ul class="burger-content">
						<li>
							<a href="{{ path('home') }}">Accueil</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="navbar_button_contenair">
			<div class="navbar_button">
				<ul>
					{% if app.user %}
						<li>
							<a class="btn-nav" href="{{ path('app_logout') }}">Se déconnecter</a>
						</li>
					{% else %}
						<li>
							<a class="btn-nav" href="{{path('app_login')}}">Connection</a>
						</li>
						<li>
							<a class="btn-nav" href="{{path('create_user')}}">Inscription</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</header>
